
<!--<script>-->
<!--(function(w, d, s, h, id) {-->
<!--    w.roistatProjectId = id; w.roistatHost = h;-->
<!--    var p = d.location.protocol == "https:" ? "https://" : "http://";-->
<!--    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init?referrer="+encodeURIComponent(d.location.href);-->
<!--    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);-->
<!--})(window, document, 'script', 'cloud.roistat.com', '162e6487130725d0c7045b0ea6894700');-->
<!--</script>-->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1483828568476660');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1483828568476660&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<body>
<script>
(function(w, d, s, h, id) {
    w.roistatProjectId = id; w.roistatHost = h;
    var p = d.location.protocol == "https:" ? "https://" : "http://";
    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init?referrer="+encodeURIComponent(d.location.href);
    var js = d.createElement(s);
    js.charset="UTF-8"; js.async = 1;
    js.src = p+h+u;
    var js2 = d.getElementsByTagName(s)[0];
    js2.parentNode.insertBefore(js, js2);
})

(window, document, 'script', 'cloud.roistat.com', '162e6487130725d0c7045b0ea6894700');
</script>
</body>

<h1>About page</h1>
<head>

<meta http-equiv="refresh" content="1;URL=http://127.0.0.1:8000/redirect2/" />
</head>

